.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:darkgray;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.logo {
    height: 80px;
}
.navbar h1{
    margin: 0;
    font-size: 20px;
    flex: 1;
    text-align: center;
}
.navbar-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile {
    height: 60px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.logout-btn {
    padding: 5px 12px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}